In [1]:
#reading data to be evaluated
import pandas as pd
data=pd.read_pickle("25patents_with_citations.pkl")
data.head()

,docdb_family_id,earliest_pat_publn_id,earliest_filing_date,appln_auth,granted,similar_patents,num_unique_patents,cited_docdb_family_id
0,574528.0,307102421.0,1985-04-10,EP,Y,"[(574528, 1.999717), (9306402, 1.9822814), (84...",2000,"[5970115, 6025659, 6695018, 8626155, 9303184, ..."
1,574586.0,387396319.0,1987-06-08,EP,Y,"[(574586, 1.9997215), (63363761, 1.97839), (83...",2000,"[2979913, 3291893, 6281119, 9513207, 21967964,..."
2,574660.0,387398325.0,1986-08-04,EP,Y,"[(574660, 1.9997239), (6240233, 1.9768794), (2...",1658,"[5956195, 11260528, 22181831, 22437920, 226429..."
3,1226456.0,303518198.0,1991-08-29,EP,Y,"[(1226456, 1.9997258), (4856238, 1.9822338), (...",2000,"[6248581, 8808809, 9247749, 9270571, 22049919,..."
4,1226485.0,302640285.0,1992-08-12,EP,Y,"[(1226485, 1.9996202), (6328120, 1.987576), (2...",2000,"[6206849, 6328120, 20427850]"

In [2]:
#There are three patents for which the similar patents fetched are noisy
data["similar_patents"][96060][33]

('3F4vTJUBi0Uo32f0u5vg', 1.9715528)

In [7]:
data.loc[[96060, 163838, 168956]].to_pickle("26noisy_patents.pkl")

In [8]:
#removing these noisy patents
data.drop([96060, 163838, 168956], axis=0, inplace=True)
data

,docdb_family_id,earliest_pat_publn_id,earliest_filing_date,appln_auth,granted,similar_patents,num_unique_patents,cited_docdb_family_id
0,574528.0,307102421.0,1985-04-10,EP,Y,"[(574528, 1.999717), (9306402, 1.9822814), (84...",2000,"[5970115, 6025659, 6695018, 8626155, 9303184, ..."
1,574586.0,387396319.0,1987-06-08,EP,Y,"[(574586, 1.9997215), (63363761, 1.97839), (83...",2000,"[2979913, 3291893, 6281119, 9513207, 21967964,..."
2,574660.0,387398325.0,1986-08-04,EP,Y,"[(574660, 1.9997239), (6240233, 1.9768794), (2...",1658,"[5956195, 11260528, 22181831, 22437920, 226429..."
3,1226456.0,303518198.0,1991-08-29,EP,Y,"[(1226456, 1.9997258), (4856238, 1.9822338), (...",2000,"[6248581, 8808809, 9247749, 9270571, 22049919,..."
4,1226485.0,302640285.0,1992-08-12,EP,Y,"[(1226485, 1.9996202), (6328120, 1.987576), (2...",2000,"[6206849, 6328120, 20427850]"
...,...,...,...,...,...,...,...,...
228193,27494163.0,299802562.0,1993-09-07,EP,N,"[(23584464, 1.9726574), (26159110, 1.9697318),...",1078,"[9401708, 10642184, 16870253, 17248536, 217930..."
228194,27524585.0,300129744.0,1993-12-27,EP,N,"[(4155784, 1.9776208), (4155693, 1.9774344), (...",1140,"[3771287, 6441409, 11802216, 12067382, 1268289..."
228195,27542360.0,310019362.0,1981-02-12,EP,Y,"[(5844648, 1.9737649), (6004685, 1.9732728), (...",1044,"[6004685, 6036466, 8779700, 9138559, 22901831,..."
228196,27565511.0,316124237.0,1987-09-22,EP,N,"[(20344571, 1.9758208), (13487928, 1.9749246),...",1108,"[5842391, 13705411, 13811799, 16321980, 221538..."
228197,30128771.0,286163612.0,2002-08-08,EP,Y,"[(26271067, 1.975359), (27215158, 1.9706924), ...",1022,"[6436343, 7656384, 7824183, 7839242, 7919052, ..."

In [9]:
data.reset_index(inplace=True,drop=True)
data

,docdb_family_id,earliest_pat_publn_id,earliest_filing_date,appln_auth,granted,similar_patents,num_unique_patents,cited_docdb_family_id
0,574528.0,307102421.0,1985-04-10,EP,Y,"[(574528, 1.999717), (9306402, 1.9822814), (84...",2000,"[5970115, 6025659, 6695018, 8626155, 9303184, ..."
1,574586.0,387396319.0,1987-06-08,EP,Y,"[(574586, 1.9997215), (63363761, 1.97839), (83...",2000,"[2979913, 3291893, 6281119, 9513207, 21967964,..."
2,574660.0,387398325.0,1986-08-04,EP,Y,"[(574660, 1.9997239), (6240233, 1.9768794), (2...",1658,"[5956195, 11260528, 22181831, 22437920, 226429..."
3,1226456.0,303518198.0,1991-08-29,EP,Y,"[(1226456, 1.9997258), (4856238, 1.9822338), (...",2000,"[6248581, 8808809, 9247749, 9270571, 22049919,..."
4,1226485.0,302640285.0,1992-08-12,EP,Y,"[(1226485, 1.9996202), (6328120, 1.987576), (2...",2000,"[6206849, 6328120, 20427850]"
...,...,...,...,...,...,...,...,...
228190,27494163.0,299802562.0,1993-09-07,EP,N,"[(23584464, 1.9726574), (26159110, 1.9697318),...",1078,"[9401708, 10642184, 16870253, 17248536, 217930..."
228191,27524585.0,300129744.0,1993-12-27,EP,N,"[(4155784, 1.9776208), (4155693, 1.9774344), (...",1140,"[3771287, 6441409, 11802216, 12067382, 1268289..."
228192,27542360.0,310019362.0,1981-02-12,EP,Y,"[(5844648, 1.9737649), (6004685, 1.9732728), (...",1044,"[6004685, 6036466, 8779700, 9138559, 22901831,..."
228193,27565511.0,316124237.0,1987-09-22,EP,N,"[(20344571, 1.9758208), (13487928, 1.9749246),...",1108,"[5842391, 13705411, 13811799, 16321980, 221538..."
228194,30128771.0,286163612.0,2002-08-08,EP,Y,"[(26271067, 1.975359), (27215158, 1.9706924), ...",1022,"[6436343, 7656384, 7824183, 7839242, 7919052, ..."

In [10]:
import ast

In [11]:
def mean_reciprocal_rank(df, k=10):
    def reciprocal_rank(row):
        # Extract only the patent IDs from the tuples
        top_k_similar = [int(patent[0]) for patent in row['similar_patents'][:k]]  
        cited_patents = set(ast.literal_eval(row['cited_docdb_family_id']))  # Convert cited patents to a set for fast lookup
        
        # Find the first relevant patent in the top k
        rank = next((i + 1 for i, patent in enumerate(top_k_similar) if patent in cited_patents), None)

        # Return reciprocal rank (or 0 if no cited patent found in top k)
        return 1 / rank if rank else 0

    return df.apply(reciprocal_rank, axis=1)

In [12]:
data["MRR@10"]=mean_reciprocal_rank(data)

In [14]:
def mean_average_precision(df, k=1000):
    def average_precision(row):
        # Extract only the patent IDs from the tuples
        top_k_similar = [int(patent[0]) for patent in row['similar_patents'][:k]]  
        cited_patents = set(ast.literal_eval(row['cited_docdb_family_id']))  # Convert cited patents to a set for fast lookup

        relevant_found = 0  # To count how many relevant patents are found
        precision_at_k = []  # To store precision values at different ranks

        # Iterate through the top-k patents
        for i, patent in enumerate(top_k_similar):
            if patent in cited_patents:  # If the patent is relevant
                relevant_found += 1
                precision_at_k.append(relevant_found / (i + 1))  # Precision@i

        # Average Precision (AP) is the mean of Precision@i for relevant patents
        if precision_at_k:
            return sum(precision_at_k) / len(precision_at_k)
        else:
            return 0  # If no relevant patents are found in top k, AP is 0

    # Apply average_precision function to each row and calculate the mean of all Average Precision values
    return df.apply(average_precision, axis=1)

# Example Data
data["MAP@1000"]=mean_average_precision(data)

In [15]:
def first_rank_of_first_relevant(df, k=1000):
    def rfr(row):
        # Extract only the patent IDs from the tuples
        top_k_similar = [int(patent[0]) for patent in row['similar_patents'][:k]]  
        cited_patents = set(ast.literal_eval(row['cited_docdb_family_id']))  # Convert cited patents to a set for fast lookup

        # Find the rank of the first relevant patent in the top-k list
        for i, patent in enumerate(top_k_similar):
            if patent in cited_patents:  # If the patent is relevant
                return i + 1  # Return the rank (1-based indexing)

        return k+1  # No relevant patent found in top k

    # Apply rfr function to each row and return the first rank of the first relevant patent
    return df.apply(rfr, axis=1)

data["RFR@1000"]=first_rank_of_first_relevant(data)

In [16]:
data.head()

,docdb_family_id,earliest_pat_publn_id,earliest_filing_date,appln_auth,granted,similar_patents,num_unique_patents,cited_docdb_family_id,MRR@10,MAP@1000,RFR@1000
0,574528.0,307102421.0,1985-04-10,EP,Y,"[(574528, 1.999717), (9306402, 1.9822814), (84...",2000,"[5970115, 6025659, 6695018, 8626155, 9303184, ...",0.142857,0.060822,7
1,574586.0,387396319.0,1987-06-08,EP,Y,"[(574586, 1.9997215), (63363761, 1.97839), (83...",2000,"[2979913, 3291893, 6281119, 9513207, 21967964,...",0.000000,0.000000,1001
2,574660.0,387398325.0,1986-08-04,EP,Y,"[(574660, 1.9997239), (6240233, 1.9768794), (2...",1658,"[5956195, 11260528, 22181831, 22437920, 226429...",0.000000,0.041854,14
3,1226456.0,303518198.0,1991-08-29,EP,Y,"[(1226456, 1.9997258), (4856238, 1.9822338), (...",2000,"[6248581, 8808809, 9247749, 9270571, 22049919,...",0.000000,0.054725,11
4,1226485.0,302640285.0,1992-08-12,EP,Y,"[(1226485, 1.9996202), (6328120, 1.987576), (2...",2000,"[6206849, 6328120, 20427850]",0.500000,0.500000,2

In [ ]:
#storing data with results
data.to_pickle("26evaluated_data_logicmill.pkl")

In [18]:
print(f"MRR@10 for logicmill = {data['MRR@10'].mean():0.4f}")
print(f"MAP@1000 for logicmill = {data['MAP@1000'].mean():0.4f}")
print(f"RFR@1000 for logicmill = {data['RFR@1000'].mean():0.4f}")

MRR@10 for logicmill = 0.1616
MAP@1000 for logicmill = 0.0838
RFR@1000 for logicmill = 176.8547